{% extends "main/base.html" %}

{% load static %}

{% block title %}Создать мероприятие{% endblock title %}

{% block content %}
    <h1>Создать мероприятие</h1>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        {{formset.management_form}} {% comment "" %}скрытые поля, которые содержат информацию (общее количество форм, сколько заполнено и т.д.){% endcomment %}
        {% for date_form in formset.forms %}
            {{ date_form.as_p }}
        {% endfor %}

        <button type="submit">Создать</button>
    </form>
{% endblock content %}