<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Создай свое мероприятие!{% endblock title %}</title>
    <link rel="stylesheet" href="main\static\bootstrap\css\bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock content %}
    </div>
    <script src="main\static\bootstrap\js\bootstrap.bundle.min.js"></script>
</body>
</html>


